{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"corejs": "3.36.1",
				"modules": "umd",
				"exclude": ["proposal-dynamic-import"]
			}
		]
	],
	"plugins": [
		"@babel/plugin-transform-runtime"
  ]
}

